<div class="containter" fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="40%" fxLayoutAlign="center center">
    <mat-card fxLayout="column">
      <h1>Ingresar</h1>

      <form [formGroup]="form">
        <div fxLayout="column wrap" fxLayoutGap="3%" fxLayout="center center">
          <mat-form-field fxFlex="100">
            <input placeholder="Usuario" formControlName="email" matInput>
            <mat-error *ngIf="email.errors">
              <span *ngIf="email.errors.required">
                Ingrese su usuario.
              </span>
              <span *ngIf="email.errors.email">
                Ingrese un usuario válido.
              </span>
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="100">
            <input type="password" placeholder="Contraseña" formControlName="password" matInput>
            <mat-error *ngIf="password.errors">
              <span *ngIf="password.errors.required">
                Ingrese su contraseña.
              </span>
            </mat-error>
          </mat-form-field>
        </div>
      </form>

      <button (click)="signWithEmailPassword()" [disabled]="form.invalid" color="primary" mat-raised-button>Ingresar</button>
      <button (click)="signWithGoogle()" mat-raised-button>Google</button>
      <button (click)="signWithFacebook()" mat-raised-button>Facebook</button>
    </mat-card>
  </div>
</div>