<div
  fxLayout="row"
  fxLayout.xs="column"
  fxFlexFill>
  <div fxFlex="18">
      <mat-list class="win-left-sidebar">
          <mat-list-item routerLink="/personas">
            <mat-icon>arrow_back</mat-icon> Volver
          </mat-list-item>
          <mat-list-item routerLink="./detalles">
            <mat-icon>create</mat-icon> Detalles
          </mat-list-item>
      </mat-list>
  </div>
  <div fxFlex>
      <router-outlet></router-outlet>
  </div>
</div>