<button mat-button (click)="onSave()">Guardar</button>

<form [formGroup]="form">

  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="3%" fxLayoutAlign="start center">
    <mat-form-field fxFlex="30">
      <input matInput formControlName="id" placeholder="ID">
    </mat-form-field>
    
    <mat-form-field fxFlex="30">
      <input matInput formControlName="nombre" placeholder="Nombre">
    </mat-form-field>
    
    <mat-form-field fxFlex="30">
      <input matInput formControlName="apellido" placeholder="Apellio">
    </mat-form-field>
    
    <mat-form-field fxFlex="30">
      <input matInput formControlName="telefono" placeholder="Teléfono">
    </mat-form-field>
  </div>

</form>