<!--
<mat-toolbar>
  <button mat-button routerLink="/"><mat-icon>home</mat-icon> Inicio</button>

  <button mat-button [matMenuTriggerFor]="menu"><mat-icon>face</mat-icon> Contactos</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/empresas">Empresas</button>
    <button mat-menu-item routerLink="/personas">Personas</button>
  </mat-menu>

  <button mat-button routerLink="/blabla">Not Found</button>
</mat-toolbar>
-->

<router-outlet></router-outlet>