<p>
  ESte es el inicio.
</p>
<div fxLayout="row" class="main">
  <div fxFlex="50" class="contenedor-uno">
    Un contenedor
  </div>
  <div fxFlex="50" class="contenedor-dos">
    Otro contenedor
  </div>
</div>