<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<p>
  <button mat-button (click)="onCrearClick()" [disabled]="!canCreate">Crear</button> 
  LISTADO DE PERSONAS
</p>

<table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let persona">{{ persona.nombre }}</td>
  </ng-container>

  <ng-container matColumnDef="apellido">
    <th mat-header-cell *matHeaderCellDef> Apellido </th>
    <td mat-cell *matCellDef="let persona">{{ persona.apellido }}</td>
  </ng-container>

  <ng-container matColumnDef="telefono">
    <th mat-header-cell *matHeaderCellDef> Telefono </th>
    <td mat-cell *matCellDef="let persona">{{ persona.telefono }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"
    class="clickable-row" (click)="onRowClick(row)"></tr>
  
</table>